
/*estilos adriana*/

/*home*/

#panelMobile{
  display: none;

}

#panelHomeDesktop{
  padding-right: 0;
}

.paddingPanel{
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 3%;
}

.home{
  background-image:url(../img/taxi.jpg);
  background-size:cover;
  background-position:bottom;

  /*height: 750px;*/
}

.tituloPanel{

  font-size: 2vw;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 0;
}
.viaja{

  font-size: 1vw;
}
.marginTop{
  margin-top: 18%;
}
.marginTopSpan{
  margin-top: 5%;
}
.borderNone{
  border: none;
}
.lab{
  width: 15%;
}
.tamanoLinea{
  font-size: .8vw;
}
button{
  color:#000;
  font-size: 1.2vw;
  font-weight: 500;
}
.colorGeneralAmarillo{
  background: #f7b617;
}
.colorBlanco{
  color:#fff;
}
#registroTitulo{
  background: #000;
  color:#fff;
}
#registrate{
  color: #000;
  width: 100%;;
}
#registrate input,select{
  width: auto;
  margin: 2% 0;
  display:block;
}

/*mobile home*/
@media screen and (min-width:0px) and (max-width:480px){
  #primerPanel{
  display: none;
}
#panelMobile{
 display: inline;
 margin-top: 50%;
 margin-bottom: 60%;

}
#contenidoPanelMobile{
 padding: 5%;
}
.tituloPanelPequenio{
 font-size: 30px;
}
}

/*estilos Pari*/

.fondo2{
  background-image: url(../img/conduce.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

#secondCard{
  margin-bottom: 0;
  height: 400px;
  margin-top: 0;
  background-color: rgba(0,0,0,0.7);
  /*opacity: 0.6;*/
  color: white;
}

#color-container{
background-color: #01DFD7;
}
/*estilos Pari*/


/*estilos Andy*/
.navbar {
    padding: 2%;
    background-color: #fff;
}


/*modales*/

#iniciarSesion .modal-content {
    background-color: rgb(8, 172, 157);
    height: 480px;
}

#iniciarSesion a:hover {
    color: #2b1d31;
}

.m-20 {
    margin: 20px 30%;
}
/*estilos Andy*/

/*Leslie*/
.contenedorApp {
    width: auto;
    background-color: #FFB704;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 0;
}
.bordeBlanco{
  width: 100%;
  align-self: auto;
  border:1px solid #fff;
  border-left: 0;
  margin: 2% 10% 2% 0;
}

@media (min-width:769px) {
    .appmobile {
        display: none;
    }
    .bordeBlanco img{
      width: auto;
      height: auto;
    }
}

.app {
    width: 50%;
    padding: 2%;
    color: white;
}
.app p{
    font-size: 20px;
}
.bordeBlanco .app{
  padding-right: 10%;
  padding-left: 10%
}


/*comienzan estilos Itzel y Gaby*/
.form-control{
  width: 80%;
  display: inline-block;
  margin-left: 3%;
}
.bg-orange{
  background-color: orange;
}
input{
  color: #fff;
}
.white-letter{
  color: #fff;
}
.icons{
  width: 5%;
}
#mapa{
  width: 100%;
  height: auto;
}
.contenedor-formulario-tarifa{
  padding: 5%;
}
.contenedor-formulario-tarifa button{
  margin: 2%;
}
.contenedor-mapa div{
  margin: 2%;
  height: auto;
  border: 1px solid #fff;
  padding: 2%;
}

iframe{
  width: 100%;
  height: 400px;
}
@media (min-width:0px) and (max-width:769px) {
  .appmobile {
    width: 100%;
  }
  .bordeBlanco {
    display: none;
  }
  iframe{
    width: 100%;
    height: 250px;
  }
  /*modal*/
  .img-circle{
    width: 50%;
    margin-left: 25%;
  }
  .modal-body{
    width: auto;
    height: auto;
  }
  #iniciarSesion .modal-content{
    height: auto;
  }
}
/*terminan estilos Itzel y Gaby*/

/* DIANA */

footer {
    padding: 2vw 5vw 0;
    background-color: #2a2a2a;
    color: #fff;
}

#logo-footer {
    width: auto;
}

.separador {
    border-bottom: .12em solid rgba(255, 255, 255, 0.65);
}

footer div div {
    padding: 2vw 0;
}

footer a {
    line-height: 3em;
    color: #fff;

}

#enlaces-1 {
    padding-top: 24vw;
}

#enlaces-1 a,
#enlaces-oculto a {
    margin-left: 1em;
}

#frase-oculta,
#enlaces-oculto {
    display: none;
}

#enlaces-4 {
    padding-top: 14.5vw;
}

#enlaces-4 img {
    margin-top: 1em;
}


@media (min-width:0px) and (max-width:768px) {
    #enlaces-1,
    #enlaces-3 {
        display: none;
    }
    #enlaces-1,
    #enlaces-4 {
        padding: 0;
    }
    #frase-oculta,
    #enlaces-oculto {
        display: inline-block;
    }

}
/* Para corregir problema de tamaño de letras chiquititas en navbar y footer */
a {
    font-size: 100%;
}
img{
    width:88%;
    height: auto;
}
.appmobile div{
  border: 1px solid #fff;
  padding: 1%;
  margin: 1% auto 1% 3%;

}

#enlaces-oculto{
  padding: 0;
}
