/*estilos Pari*/

.fondo2{
  background-image: url(../img/conduce.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}

#secondCard{
  margin-top: 8%;
  background-color: #142045;
  opacity: 0.6;
  color: white;
}

/*estilos Pari*/
